body{margin:0; padding:0; background-color:rgb(255, 255, 255);}

/* Hide plotly logo */
#react-entry-point{margin-left: 0 !important;}
.topnav .heading{
background-color: grey;
width: 100%;
}
