
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='img/logo.png') }}"/>
    <link rel="stylesheet" href="{{ url_for( 'static', filename='main.css') }}"/>
    <link
    href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    rel="stylesheet"
    integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN"
    crossorigin="anonymous"
  />
    <title> Home </title>
</head>
<body>
    <header>
        <center>
        <div class="social_handles">
            <a href="https://www.facebook.com/sanny.suarez.14" target="_blank"><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/itz_sanni" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.linkedin.com/in/sannysuarez" target="_blank"><i class="fa fa-linkedin"></i></a>
            <a href="https://www.github.com/sannysuarez" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://wa.me/09028623938" target="_blank"><i class="fa fa-whatsapp"></i></a>
        </div>
        </center>

        <span class="me">
           <label >sanni.tech</label>
        </span>

        <span class="pic_and_label">
            <img src="{{ url_for('static', filename='img/image.png') }}" alt="image"/><br/>
        </span>
    </header>

    <footer>
        <section class="nav">
          
             <ul>
                <li><a href="dvi.html">Project</a></li>
                <li><a href="#">How-to</a></li>
                <li><a href="#">Blog</a></li>
                <li><a href="#">CV/Resume</a></li>
            </ul>
           
        </section>
    </footer>
</body>
</html>